<head>
  <meta charset='UTF-8' />
  <link rel='icon' type='image/x-icon' href='images/icons/logo.ico' />
  <link rel='stylesheet' href='css/styles.css' />
  <title>{{title}}
  </title>
  <script defer src='js/script.js'>
  </script>
</head>