{{> header}}
{{> navbar}}
    <br /><br />
    <div class="about-body">
    <table align="center" width="50%" cellpadding="30" cellspacing="5">
      <tr>
        <td></td>
        <td></td>
        <th>
          <b>
            <h3 class="about-header">About Us</h3>
          </b>
        </th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">
          <p class="about-text">
            We at VMJJ strive to manufacture and provide the computer hardware and accessories that will take you to the
            next level of technological performance for an affordable price tag. <br /><br />
            Whether you intend to use our products for personal, business, and/or leisure, we ensure that you will get
            highly optimized results, guaranteed. <br /><br />
            Established in 2022 as a small start-up by college students majoring in Computer Science at SF State
            Universtiry, we are continuing to grow into an innovative tech company that aims to empower everyone with
            affordable and powerful computer technology.
          </p>
        </td>
        <td colspan="2"><img width="250" alt="Computer performance" src="images/example.jpg" /></td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <br /><br />
  </div>
    {{> footer}}
