{{> header}}
{{> navbar}}

      <div class="addmessage">{{message}}</div>
      <div class="index-container">
         <!-- Top Navigation Menu -->
         <div class="topnav">
            <a class="active">Navigation</a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
               <a href="categories/mice">Computer Mice</a>
			   <a href="categories/mousepads">Mousepads</a>
               <a href="categories/headphones">Headphones / Headsets</a>
               <a href="categories/keyboards">Computer Keyboards</a>
               <a href="categories/monitors">Computer Monitors</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <img src="images/hamburger.png" width="22px" height="22px" alt="open navigation menu button"></i>
            </a>
         </div>
         <div class="index-items"> 
			<a href="categories/keyboards"><img width="200" height="183" class="image" alt="Razer Huntsman TE TKL" src="images/products/Razer_Huntsman_TE_TKL.jpg" onmouseover="this.src='images/products/Razer_Huntsman_TE_TKL2.jpg'" onmouseout="this.src='images/products/Razer_Huntsman_TE_TKL.jpg'"></a>
            <a href="categories/keyboards"><img width="200" height="183" alt="Logitech G915 TKL" src="images/products/Logitech_G915_TKL.jpg" onmouseover="this.src='images/products/Logitech_G915_TKL2.jpg'" onmouseout="this.src='images/products/Logitech_G915_TKL.jpg'"></a>
            <a href="categories/mice"><img width="200" height="183" alt="Glorious Gaming - Model O Wireless" src="images/products/Glorious_Gaming_Model_O_Wireless.jpg" onmouseover="this.src='images/products/Glorious_Gaming_Model_O_Wireless2.jpg'" onmouseout="this.src='images/products/Glorious_Gaming_Model_O_Wireless.jpg'"></a>
            <a href="categories/mice"><img width="200" height="183" alt="Logitech G502" src="images/products/Logitech_G502.jpg" onmouseover="this.src='images/products/Logitech_G5022.jpg'" onmouseout="this.src='images/products/Logitech_G502.jpg'"></a>
            <a href="categories/mousepads"><img width="200" height="183" alt="KTRIO Large Gaming Mouse Pad" src="images/products/KTRIO_Large_Gaming_Mouse_Pad.jpg" onmouseover="this.src='images/products/KTRIO_Large_Gaming_Mouse_Pad2.jpg'" onmouseout="this.src='images/products/KTRIO_Large_Gaming_Mouse_Pad.jpg'"></a>
            <a href="categories/mousepads"><img width="200" height="183" alt="Logitech G640 Cloth Gaming Mouse Pad" src="images/products/Logitech_G640_Cloth_Gaming_Mouse_Pad.jpg" onmouseover="this.src='images/products/Logitech_G640_Cloth_Gaming_Mouse_Pad2.jpg'" onmouseout="this.src='images/products/Logitech_G640_Cloth_Gaming_Mouse_Pad.jpg'"></a>
            <a href="categories/headphones"><img width="200" height="183" alt="Razer BlackShark V2 Pro Wireless" src="images/products/Razer_BlackShark_V2_Pro_Wireless.jpg" onmouseover="this.src='images/products/Razer_BlackShark_V2_Pro_Wireless2.jpg'" onmouseout="this.src='images/products/Razer_BlackShark_V2_Pro_Wireless.jpg'"></a>
            <a href="categories/headphones"><img width="200" height="183" alt="HyperX Cloud Alpha Wireless" src="images/products/HyperX_Cloud_Alpha_Wireless.jpg" onmouseover="this.src='images/products/HyperX_Cloud_Alpha_Wireless2.jpg'" onmouseout="this.src='images/products/HyperX_Cloud_Alpha_Wireless.jpg'"></a>
            <a href="categories/monitors"><img width="200" height="183" alt="BenQ ZOWIE XL2540K 24.5-inch 240Hz Gaming Monitor" src="images/products/BenQ_ZOWIE_XL2540K_24.5-inch_240Hz_Gaming_Monitor.jpg" onmouseover="this.src='images/products/BenQ_ZOWIE_XL2540K_24.5-inch_240Hz_Gaming_Monitor2.jpg'" onmouseout="this.src='images/products/BenQ_ZOWIE_XL2540K_24.5-inch_240Hz_Gaming_Monitor.jpg'"></a>
            <a href="categories/monitors"><img width="200" height="183" alt="SAMSUNG Odyssey G4 Series 25-Inch" src="images/products/SAMSUNG_Odyssey_G4_Series_25-Inch.jpg" onmouseover="this.src='images/products/SAMSUNG_Odyssey_G4_Series_25-Inch2.jpg'" onmouseout="this.src='images/products/SAMSUNG_Odyssey_G4_Series_25-Inch.jpg'"></a>
         </div>
         <div class="index-ad">
            <a href="/index"><img src="images/ad.jpg" alt="ad image"></a>
         </div>
      </div>
      {{> footer}}