{{> header}}
{{> navbar}}
    <br /><br />
    <div class="QnA-body">
    <table align="center" width="75%" cellpadding="30" cellspacing="5">
      <tr>
        <th colspan="3">
          <b>
            <h3 class="QnA-header">Q&A</h3>
          </b>
        </th>
      </tr>
      <tr>
        <th class="QnA-text">Q: What operating systems are your products compatible with?</th>
        <td class="QnA-text" colspan="5">Our products will work with Windows, MacOS, and Linux-supported systems.</td>
      </tr>
      <tr>
        <th class="QnA-text">Q: Can I cancel my purchase?</th>
        <td class="QnA-text" colspan="5">
          If your order has not been shipped yet, you can cancel your purchase and receive a refund. If it has been
          shipped and received at your destination, you need to contact us for a return shipping label in order to be
          refunded.
        </td>
      </tr>
      <tr>
        <th class="QnA-text">Q: What if I haven't received my purchased order by the estimated delivery date?</th>
        <td class="QnA-text" colspan="5">
          We are sorry to hear that you have not received your order. After 48 hours of not receiving your order, please
          contact us for a full refund.
        </td>
      </tr>
      <tr>
        <th class="QnA-text">Q: How do I contact customer support for VMJJ products & services?</th>
        <td class="QnA-text" colspan="5">
          Our contact phone number is +1(111)111-1111, and our contact email address is customersupport@vmjj.com for any
          additional assistance regarding our products & services. Our contact hours are 8AM-6PM PST during Mon-Fri.
        </td>
      </tr>
    </table>
    <br /><br />
  </div>
    {{> footer}}
